$borderColor = rgba(7,17,27,.1)
$tabFocus = rgb(240, 20, 20)
// goods组件
$goodsMenuBackground = #f3f5f7
$goodsTitleBorderColor = #d9dde1
$goodsmenuBackground = #f3f5f7
$goodsFoodsTitle = rgb(147, 153, 159)
$goodsFoodsName = rgb(7,17,27)
// shopCart组件
$shopCartBackground = #141d27
$shopCartIconBackround = #2b343c
$shopCartIcon = #80858a
$shopButtonGrey = #2b333b